{% extends 'base.html' %} {% block body %}
<div class="homecontainer">
  <div class="top blue-grey darken-4">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{ url_for('static', filename='images/profile_pics/' + current_user.profile_pic) }}" alt="" class='circle'>
        <a href="#picturemodal" class='fab modal-trigger'><i class='material-icons'>add</i></a>
        <div class="text center center-align">
          <b class="title" style='text-transform:uppercase;'>{{ current_user.username }}</b>
          <p>{{ current_user.email }}
          </p>
        </div>
        <a href="{{ url_for('logout') }}" data-position="left" data-tooltip="Logout" class="tooltipped secondary-content"><i class="material-icons white-text">account_circle</i></a>
      </li>
    </ul>
  </div>


  <!-- Bookmarkers -->
  <div class="body">
    <div class="row">

      {% if marklets == None %}
      <div class="center center-align">
        <h4>Create your first bookmark!</h4><br>
        <a href="#bookmarkmodal" class='fab modal-trigger'><i class='material-icons'>add</i></a>
      </div>
      {% else %} {% for mark in marklets %}
      <div class="col s6 m3">
        <div class="card">
          <div class="card-image">
            <img src="{{ url_for('static', filename='images/profile_pics/' + mark.markerPic) }}">
            <a href='{{ url_for("deletebookmark", id = mark.id ) }}' data-tooltip="Delete" data-position = 'bottom' class="tooltipped btn-floating halfway-fab waves-effect waves-light indigo darken-4"><i class="material-icons">clear</i></a>
            <span class="card-title black-text">{{ mark.markerName }}</span>
          </div>
          <div class="card-action">
            <a href="{{ mark.markerLink }} " target="_blank" class='truncate'>{{ mark.markerLink }}</a>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %}
      <div class="col s12 m6 l4"></div>

    </div>

  </div>


</div>




<!-- MODALS -->
<div id="picturemodal" class="modal">
  <div class="modal-content">
    <h4>Change Your Profile Picture</h4>
    <form action="" method='POST' enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn indigo darken-1 ">
          <span>Pic</span>
          <input type="file" name='pic' required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button class='btn submit indigo darken-1 white-text' type='submit'>UPDATE</button>
      </div>
    </form>
  </div>
</div>


<div id="bookmarkmodal" class="modal">
  <div class="modal-content">
    <h4>Add a bookmark!</h4>
    <form action="" method='POST' enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn indigo darken-1 ">
          <span>Picture of Bookmark</span>
          <input type="file" name='bookmarkpic' required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input id="icon_prefix" type="text" name='title' class="validate">
        <label for="icon_prefix">Title of Page</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">link</i>
        <input id="icon_telephone" type="text" name='link' class="validate">
        <label for="icon_telephone">Link</label>
      </div>
      <div class="modal-footer">
        <button class='btn submit indigo darken-1 white-text' type='submit'>ADD</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
